<section class="about" id="about">
    <p class="about__subtitle">tradition and love</p>
    <h2 class="about__title">how it’s made?</h2>
    <div class="about__container">
        <div >
            <picture>
                <source srcset="
                ./images/desktop/home-pic4-desktop.png 1x,
                ./images/desktop/home-pic4-desktop@2x.png 2x"
                media="(min-width:1280px)">
                <source srcset="
                ./images/tablet/home-pic4-tablet.png 1x,
                ./images/tablet/home-pic4-tablet@2x.png 2x"
                media="(min-width:768px)">
                <source srcset="
                ./images/mobile/home-pic4-mobile.png 1x,
                ./images/mobile/home-pic4-mobile@2x.png 2x"
                media="(max-width:767px)">
                <img src="./images/mobile/home-pic4-mobile.png" alt="cow" class="about__home-pic4">
            </picture>
        </div>
        <div>        
            <p class="about__para1">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</p>
            <p class="about__para2">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.Aliquam erat volutpat. Aenean accumsan.</p>
        </div>
        <button class="about__button">Read more
            <svg>
                <use></use>
            </svg>
        </button>
    </div>
</section>



