<section class="about" id="about">
  <div class="container">
  <div class="about__text">
    <p class="about__subtitle">tradition and love</p>
    <h2 class="about__title">how it’s made?</h2>
  </div>
  <ul class="about__about-list">
    <li class="about__about-item">
      <div>
        <picture>
          <source
            srcset="
              ./images/desktop/home-pic4-desktop.png 1x,
              ./images/desktop/home-pic4-desktop@2x.png 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/tablet/home-pic4-tablet.png 1x,
              ./images/tablet/home-pic4-tablet@2x.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/mobile/home-pic4-mobile.png 1x,
              ./images/mobile/home-pic4-mobile@2x.png 2x
            "
            media="(max-width:767px)"
          />
          <img src="./images/mobile/home-pic4-mobile.png" alt="cow" class="about__home-pic4" />
        </picture>
      </div>
    </li>
    <li class="about__about-item">
      <div>
        <p class="about__para1">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
          lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
        </p>
        <p class="about__para2">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
          in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
          maximus. Cras massa nibh, tincidunt.
          <br />
          <br />
          Aliquam erat volutpat. Aenean accumsan.
        </p>
        <button type="button" class="about__button button" data-about-open>
          Read more
          <svg class="header__icon">
            <use href="../src/images/symbol-defs.svg#more-than"></use>
          </svg>
        </button>
      </div>
    </li>
  </ul>
  </div>
</section>


<!-- модалка -->
<div class="about__backdrop about-hidden" data-about>
  <div class="about__modal">
    <button type="button" class="about__modal-button" data-about-close>X</button>
    <p class="about__modal-para">
      Cows are milked using vacuum cups which are attached to the cow's teats. The milk is sent
      through stainless steel pipes to large refrigerated vats, then stored at 5°C or less. Within
      48 hours, milk is taken in tankers to a milk factory where it's pasteurised and homogenised.
      <br />Milk is put under pressure through fine nozzles, which evenly disperses fat globules.
      This stops the cream separating and rising to the top, allowing a more consistent texture and
      taste. Some manufacturers produce unhomogenised milk for people who prefer the cream to
      separate and rise to the top of the bottle.
    </p>
  </div>
</div>
