<section class="advantages">
    <div class="advantages-container">

        <div class="container">
        <h2 class="advantages__title" hidden>advantages</h2>
        <ul class="advantages-list">
            <li class="advantages-item">
                <div class="advantages-blok">
                    <h3 class="advantages__pre-title advantages__pre-title-a">721</h3>
                </div>
                <p class="advantages__text">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </li>
            <li class="advantages-item">
                <div class="advantages-blok">
                    <h3 class="advantages__pre-title advantages__pre-title-b">16kg</h3>
                </div>
                <p class="advantages__text">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </li>
            <li class="advantages-item">
                <div class="advantages-blok">
                    <h3 class="advantages__pre-title advantages__pre-title-c">84</h3>
                </div>
                <p class="advantages__text">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </li>
        </ul>
        
    </div>
    </div>
</section>