<h1>icecream_tablet_open_burger</h1>
<p>advantages</p>

<div class="backdrop is-hidden" data-modal>
    <div class="section-modal_">
                
        <form name="modal" autocomplete="on" novalidate>
            <button data-modal-close class="data-modal-close">
                <svg class="close-modal" width="30" height="30">
                    <use href="./img/close.svg#icon-close-black"></use>
                </svg>
            </button>
            <button>
                Buy now
            </button>


            <li class="label-form label">
                <button>
                    Home
                </button>
            </li>

            <li class="label-form label">
                <button>
                About us
                </button>
            </li>
          
            <li class="label-form label">
                <button>
                How it’s made?
                </button>
            </li>

            <li class="label-form label">
                <button>
                Our products
                </button>
            </i>

            <li class="label-form label">
                <button>
                Contact
                </button>
            </li>
            
        </form>

        
    </div>
</div>