<section id="contacts" class="contacts">
  <div class="container">
    <h2 class="contacts__headline">contacts card</h2>
    <ul class="contacts__list">
      <li class="contacts__item">
        <p class="contacts__ctg">cafe</p>
        <div>
          <p class="contacts__title">Chicago</p>
          <p class="contacts__subtitle">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <div class="contacts__data">
          <p class="contacts__title">
            Monday - Friday<br /><span class="contacts__title--pink">06:00 AM - 10:00 PM</span>
          </p>
          <p class="contacts__title">
            Saturday - Sunday<br /><span class="contacts__title--pink">08:00 AM - 16:00 PM</span>
          </p>
        </div>
        <div class="contacts__phone">
          <ul>
            <li>
              <a class="contacts__link" href="tel:+610383766284">+61(0) 383 766 284</a>
            </li>
            <li>
              <a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="contacts__item">
        <p class="contacts__ctg contacts__ctg--green">FOOD TRUCK</p>
        <div>
          <p class="contacts__title">Los Angeles</p>
          <p class="contacts__subtitle">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <div class="contacts__data">
          <p class="contacts__title">
            Monday - Friday<br /><span class="contacts__title--pink">06:00 AM - 10:00 PM</span>
          </p>
          <p class="contacts__title">
            Saturday - Sunday<br /><span class="contacts__title--pink">08:00 AM - 16:00 PM</span>
          </p>
        </div>
        <div class="contacts__phone">
          <ul>
            <li>
              <a class="contacts__link" href="tel:+610383766284">+61(0) 383 766 284</a>
            </li>
            <li>
              <a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="contacts__item">
        <p class="contacts__ctg">cafe</p>
        <div>
          <p class="contacts__title">New York</p>
          <p class="contacts__subtitle">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <div class="contacts__data">
          <p class="contacts__title">
            Monday - Friday<br /><span class="contacts__title--pink">06:00 AM - 10:00 PM</span>
          </p>
          <p class="contacts__title">
            Saturday - Sunday<br /><span class="contacts__title--pink">08:00 AM - 16:00 PM</span>
          </p>
        </div>
        <div class="contacts__phone">
          <ul>
            <li>
              <a class="contacts__link" href="tel:+610383766284">+61(0) 383 766 284</a>
            </li>
            <li>
              <a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <ul class="button-list">
      <li>
        <button type="button" data-modal__open class="button-list__button">
          Our Locations
          <svg class="button-list__icon button-list__icon--white" width="4px" height="8px">
            <use href="../src/images/symbol-defs.svg#more-than"></use>
          </svg>
        </button>
      </li>
      <li>
        <button
          type="button"
          data-modal__open
          class="button-list__button button-list__button--white"
        >
          Franchise
          <svg class="button-list__icon" width="4px" height="8px">
            <use href="../src/images/symbol-defs.svg#more-than"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
