<footer class="footer">
  <a class="footer_title" href="">homemade ice cream made</a>
  <h2 class="footer_title">homemade ice cream made</h2>
  <a href="">with passion</a>
  <ul>
    <li>
      <svg class="page-header__icon">
        <use href="../images/icons.svg#icon-github"></use>
      </svg>
    </li>
    <li>
      <svg class="page-header__icon">
        <use href="../images/icons.svg#icon-telegram"></use>
      </svg>
    </li>
    <li>
      <svg class="page-header__icon">
        <use href="../images/icons.svg#icon-facebook"></use>
      </svg>
    </li>
  </ul>
  <address>
      <p>Feel free to contact </p>
      <a href="tel:+610383766284">+61 (0) 383 766 284</a>
      <p>© 2019 - IceCream. <br/> All Rights Reserved</p>
  </address>
</footer>
