<footer class="footer">
  <ul class="footer_logo">
    <li><h2 class="footer_title">homice creemade am made</h2></li>
    <li><h2 class="footer_text">with passion</h2></li>
  </ul>
  <nav>
    <ul class="footer__list">
      <li>
        <svg class="footer__icon">
          <use href="../src/images/social.svg#icon-github"></use>
        </svg>
      </li>
      <li>
        <svg class="footer__icon">
          <use href="../src/images/social.svg#icon-telegram"></use>
        </svg>
      </li>
      <li>
        <svg class="footer__icon">
          <use href="../src/images/social.svg#icon-facebook"></use>
        </svg>
      </li>
    </ul>
    <address>
      <div class="footer__contacts">
        <h3>Feel free to contact</h3>
        <a href="tel:+610383766284">+61 (0) 383 766 284</a>
      </div>
      <h3 class="footer__company">© 2019 - IceCream. All Rights Reserved</h3>
    </address>
  </nav>
</footer>
