<footer class="footer">
  <div class="footer__nav container">
    <ul class="footer__logo">
      <li><p class="footer__title">homice creemade am made</p></li>
      <li><p class="footer__text">with passion</p></li>
    </ul>
    <nav>
      <ul class="footer__list">
        <li>
          <a href="https://github.com/rainb00w/project-12" target="_blank"
            ><svg class="footer__icon">
              <use href="../src/images/social.svg#icon-github"></use></svg
          ></a>
        </li>
        <li>
          <a href="https://web.telegram.org/k/" target="_blank"
            ><svg class="footer__icon">
              <use href="../src/images/social.svg#icon-telegram"></use></svg
          ></a>
        </li>
        <li>
          <a href="https://www.facebook.com/" target="_blank"
            ><svg class="footer__icon">
              <use href="../src/images/social.svg#icon-facebook"></use></svg
          ></a>
        </li>
      </ul>
      <address>
        <div class="footer__contacts">
          <p>Feel free to contact</p>
          <a class="footer__tel" href="tel:+610383766284"> +61 (0) 383 766 284</a>
        </div>
      </address>
    </nav>
  </div>
  <p class="footer__company">© 2019 - IceCream. All Rights Reserved</p>
</footer>
