<section id="section" class="gallery container">
  <h1 class="visually-hidden">Gallery</h1>


  <div class="grid">
    <div class="grid-item"><img src="./images/masonry/Untitled-1.png" alt=""></div>
    <div class="grid-item "><img src="./images/masonry/Untitled-2.png" alt=""></div>
    <div class="grid-item"><img src="./images/masonry/Untitled-3.png" alt=""></div>
    <div class="grid-item"><img src="./images/masonry/Untitled-1.png" alt=""></div>
    <div class="grid-item "><img src="./images/masonry/Untitled-2.png" alt=""></div>
    <div class="grid-item"><img src="./images/masonry/Untitled-3.png" alt=""></div>
    <div class="grid-item"><img src="./images/masonry/Untitled-1.png" alt=""></div>
    <div class="grid-item "><img src="./images/masonry/Untitled-2.png" alt=""></div>
    <div class="grid-item"><img src="./images/masonry/Untitled-3.png" alt=""></div>
  </div>
  
  
  <!-- <picture>
    <source
      media="(min-width: 1200px)"
      srcset="
        ./images/desktop/home-pic5-desktop.webp    1x,
        ./images/desktop/home-pic5-desktop@2x.webp 2x
      "
      type="image/webp"
    /
    <source
      media="(min-width: 1200px)"
      srcset="
        ./images/desktop/home-pic5-desktop.jpeg    1x,
        ./images/desktop/home-pic5-desktop@2x.jpeg 2x
      "
    />

    <source
      media="(min-width: 768px)"
      srcset="./images/tablet/home-pic5-tablet.webp 1x, ./images/tablet/home-pic5-tablet@2x.webp 2x"
      type="image/webp"
    />
    <source
      media="(min-width: 768px)"
      srcset="./images/tablet/home-pic5-tablet.jpeg 1x, ./images/tablet/home-pic5-tablet@2x.jpeg 2x"
    />

    <source
      media="(min-width: 280px)"
      srcset="./images/mobile/home-pic5.webp 1x, ./images/mobile/home-pic5@2x.webp 2x"
      type="image/webp"
    />

    <source
      media="(min-width: 280px)"
      srcset="./images/mobile/home-pic5.jpeg 1x, ./images/mobile/home-pic5@2x.jpeg 2x"
    />

    <img class="" src="#" alt="Gallery should be here" />
  </picture> -->


</section>
