<section id="gallery" class="gallery">
  <div class="container gallery-fix">
  <h2 class="visually-hidden">Gallery</h2>


  
  <div class="grid">
    <div class="grid-item grid-item--width1"><img src="./images/masonry/home-pic5-desktop_1.jpg" alt=""></div>
    <div class="grid-item grid-item--width2"><img src="./images/masonry/home-pic5-desktop_2.jpg" alt=""></div>
    <div class="grid-item grid-item--width3"><img src="./images/masonry/home-pic5-desktop_3.jpg" alt=""></div>
    <div class="grid-item grid-item--width4"><img src="./images/masonry/home-pic5-desktop_4.jpg" alt=""></div>
    <div class="grid-item grid-item--width5"><img src="./images/masonry/home-pic5-desktop_5.jpg" alt=""></div>
    <div class="grid-item grid-item--width6"><img src="./images/masonry/home-pic5-desktop_6.jpg" alt=""></div>
    <div class="grid-item grid-item--width7"><img src="./images/masonry/home-pic5-desktop_7.jpg" alt=""></div>
    <div class="grid-item grid-item--width8"><img src="./images/masonry/home-pic5-desktop_8.jpg" alt=""></div>
    <div class="grid-item grid-item--width9"><img src="./images/masonry/home-pic5-desktop_9.jpg" alt=""></div>
    <div class="grid-item grid-item--width10"><img src="./images/masonry/home-pic5-desktop_10.jpg" alt=""></div>
  </div>
  
</div>
</section>




