<section id="section" class="gallery container">
  <h2 class="visually-hidden">Gallery</h2>


  
  <div class="grid">
    <div class="grid-item"><img src="./images/masonry/home-pic5-desktop_1.jpg" alt=""></div>
    <div class="grid-item"><img src="./images/masonry/home-pic5-desktop_2.jpg" alt=""></div>
    <div class="grid-item"><img src="./images/masonry/home-pic5-desktop_3.jpg" alt=""></div>
    <div class="grid-item"><img src="./images/masonry/home-pic5-desktop_4.jpg" alt=""></div>
    <div class="grid-item"><img src="./images/masonry/home-pic5-desktop_5.jpg" alt=""></div>
    <div class="grid-item"><img src="./images/masonry/home-pic5-desktop_6.jpg" alt=""></div>
    <div class="grid-item"><img src="./images/masonry/home-pic5-desktop_7.jpg" alt=""></div>
    <div class="grid-item"><img src="./images/masonry/home-pic5-desktop_8.jpg" alt=""></div>
    <div class="grid-item"><img src="./images/masonry/home-pic5-desktop_9.jpg" alt=""></div>
    <div class="grid-item"><img src="./images/masonry/home-pic5-desktop_10.jpg" alt=""></div>
  </div>
  

</section>
