<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

<section class="backdrop is-hidden" data-modal>

 <!--    <h2>test</h2>
 <p>advantages</p> 
 <p>icecream_tablet_open_burger</p>
 <p>advantages</p> --> 

    <div  id="modal" class="section-modal">
        <div class="section-modal__card">

            <form name="modal" autocomplete="on" novalidate>
                <button data-modal-close class="section-modal_close">
                    <svg class="close-modal__icon" width="30" height="30">
                        <use href=""></use>
                    </svg>
                </button>
                <ul class="section-modal__card-btn"  >
                    
                    <li class="label-form__item label">
                                               
                        <button class="label-forma__btn" >
                            Buy now >
                        </button>
                        
                        
                    </li>
                    

                    <li class="label-form__itema label">
                        
                        <button class="label-form__btn" >
                            Home
                        </button>
                        
                    </li>

                    <li class="label-form__itema label">
                        
                        <button class="label-form__btn" >
                            About us
                        </button>
                        
                    </li>

                    <li class="label-form__itema label">
                        
                         <button class="label-form__btn">
                            How it’s made?
                        </button>
                        
                    </li>

                    <li class="label-form__itema label">
                        
                        <button class="label-form__btn" >
                            Our products
                        </button>
                        
                    </li>

                    <li class="label-form__itema label">
                        
                        <button class="label-form__btn">
                            Contact
                        </button>
                       
                    </li>
                </ul>

            </form>

        </div>
    </div>

</section>

</body>

</html>