
<section id="modal" class="section-modal">

    <!-- <h2>test</h2>
 <p>advantages</p> 
 <h3>icecream_tablet_open_burger</h3>
 <p>advantages</p> -->

    <div class="backdrop is-hidden" data-modal>
        <div class="section-modal__card">

            <form name="modal" autocomplete="on" novalidate>
                <button data-modal-close class="data-modal-close">
                    <svg class="close-modal__icon" width="30" height="30">
                        <use href="#"></use>
                    </svg>
                </button>
                <div class="section-modal__card-btn">
                    
                    <li class="label-form__item label">
                        <a href="Buy now" style="text-decoration: none;">
                            <button class="label-form__btn" >
                                Buy now
                            </button>
                        </a>
                     </li>
                    

                    <li class="label-form__item label">
                        <a href="Buy now" style="text-decoration: none;">
                            <button class="label-form__btn">
                                Home
                            </button>
                        </a>
                    </li>

                    <li class="label-form__item label">
                        <a href="Buy now" style="text-decoration: none;">
                            <button class="label-form__btn">
                                About us
                            </button>
                        </a>
                    </li>

                    <li class="label-form__item label">
                        <a href="Buy now" style="text-decoration: none;">
                            <button class="label-form__btn">
                                How it’s made?
                            </button>
                        </a>
                    </li>

                    <li class="label-form__item label">
                        <a href="Buy now" style="text-decoration: none;">
                            <button class="label-form__btn">
                                Our products
                            </button>
                        </a>
                    </li>

                    <li class="label-form__item label">
                        <a href="Buy now" style="text-decoration: none;">
                            <button class="label-form__btn">
                                Contact
                            </button>
                        </a>
                    </li>
                </div>

            </form>

        </div>
    </div>

</section>