<section id="products" class="section-products">
    <div class="section-products__container">
        <p class="section-products__label">100% natural</p>
        <h2 class="section-products__title">products</h2>
        <ul class="section-products__list">
            <li class="section-products__list__item">
                <a href="">

                    <h3 class="section-products__list__title">ice cream</h3>
                    <div class="section-products__list__dots"></div>
                    <p class="section-products__list__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                        do eiusmod tempor incididunt ut labore et</p>
                    <button class="section-products__list__button" type="button"></button>
                </a>
            </li>
            <li class="section-products__list__item">
                <a href="">

                    <h3 class="section-products__list__title">ice coffee</h3>
                    <div class="section-products__list__dots"></div>
                    <p class="section-products__list__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                        do eiusmod tempor incididunt ut labore et</p>
                    <button class="section-products__list__button" type="button"></button>
                </a>
            </li>
            <li class="section-products__list__item">
                <a href="">

                    <h3 class="section-products__list__title">milkshakes</h3>
                    <div class="section-products__list__dots"></div>
                    <p class="section-products__list__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                        do eiusmod tempor incididunt ut labore et</p>
                    <button class="section-products__list__button" type="button"></button>

                </a>
            </li>
        </ul>
    </div>
</section>