<section id="products" class="section-products">
    <div class="section-products__container">
        <p class="section-products__label">100% natural</p>
        <h2 class="section-products__title">products</h2>
        <ul class="section-products__list">
            <li class="section-products__list__item">
                <h3 class="section-products__list__title">ice cream</h3>
                <div class="section-products__list__dots"></div>
                <p class="section-products__list__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et</p>
                <button class="section-products__list__button" type="button" aria-expanded="false"
                    aria-controls="image-text-icecream" data-icecream-button>
                    <div class="image-text" id="image-text-icecream" data-icecream>
                        <h4 class="image-text__title">Ingredients</h4>
                        <ul class="item-text__title">
                            <li class="image-text__item">
                                <p>Heavy Whipping Cream</p>
                            </li>
                            <li class="image-text__item">
                                <p>Strawberries </p>
                            </li>
                            <li class="image-text__item">
                                <p>Vanilla extract</p>
                            </li>
                            <li class="image-text__item">
                                <p>Sugar</p>
                            </li>
                        </ul>
                    </div>
                </button>
            </li>
            <li class="section-products__list__item">
                <h3 class="section-products__list__title">ice coffee</h3>
                <div class="section-products__list__dots"></div>
                <p class="section-products__list__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et</p>
                <button class="section-products__list__button" type="button" aria-expanded="false"
                    aria-controls="image-text-coffe" data-coffe-button>
                    <div class="image-text" id="image-text-coffe" data-coffe>
                        <h4 class="image-text__title">Ingredients</h4>
                        <ul class="item-text__title">
                            <li class="image-text__item">
                                <p>Coffe</p>
                            </li>
                            <li class="image-text__item">
                                <p>Ice</p>
                            </li>
                            <li class="image-text__item">
                                <p>Cream</p>
                            </li>
                            <li class="image-text__item">
                                <p>Vanila Syrop</p>
                            </li>
                        </ul>
                    </div>
                </button>
            </li>
            <li class="section-products__list__item">
                <h3 class="section-products__list__title">milkshakes</h3>
                <div class="section-products__list__dots"></div>
                <p class="section-products__list__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et</p>
                <button class="section-products__list__button" type="button" aria-expanded="false"
                    aria-controls="image-text-milkshakes" data-milkshakes-button>
                    <div class="image-text" id="image-text-milkshakes" data-milkshakes>
                        <h4 class="image-text__title">Ingredients</h4>
                        <ul class="item-text__title">
                            <li class="image-text__item">
                                <p>Milk</p>
                            </li>
                            <li class="image-text__item">
                                <p>Chocolate Icecream</p>
                            </li>
                            <li class="image-text__item">
                                <p>Ice</p>
                            </li>
                            <li class="image-text__item">
                                <p>Syrop</p>
                            </li>
                        </ul>
                    </div>
                </button>
            </li>
        </ul>
    </div>
</section>