<section id="products" class="section-products">
    <div class="section-products__container">
        <p class="section-products__label">100% natural</p>
        <h2 class="section-products__title">products</h2>
        <ul class="section-products__list">
            <li class="section-products__list__item">
                <a href="">
                    <div class="section-products__thumb">
                        <picture>
                            <source media="(max-width: 767px)"
                                srcset="./images/mobile/home-pic1.png 1x, ./images/mobile/home-pic1@2x.png"
                                type="image/png">
                            <source media="(max-width: 1199px)"
                                srcset="./images/tablet/home-pic1-tablet.png 1x, ./images/tablet/home-pic1-tablet@2x.png"
                                type="image/png">
                            <source media="(min-width: 1200px)"
                                srcset="./images/desktop/home-pic1-desktop.png 1x, ./images/desktop/home-pic1-desktop@2x.png 2x"
                                type="image/png">
                            <img class="section-products__image--icecream" src="#" alt="Клубничное мороженное">
                        </picture>
                        <h3 class="section-products__list__title">ice cream</h3>
                        <p class="section-products__list__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et</p>
                    </div>
                </a>
            </li>
            <li class="section-products__list__item">
                <a href="">
                    <div class="section-products__thumb">
                        <picture>
                            <source media="(max-width: 767px)"
                                srcset="./images/mobile/home-pic2.png 1x, ./images/mobile/home-pic2@2x.png"
                                type="image/png">
                            <source media="(max-width: 1199px)"
                                srcset="./images/tablet/home-pic2-tablet.png 1x, ./images/tablet/home-pic2-tablet@2x.png"
                                type="image/png">
                            <source media="(min-width: 1200px)"
                                srcset="./images/desktop/home-pic2-desktop.png 1x, ./images/desktop/home-pic2-desktop@2x.png 2x"
                                type="image/png">
                            <img class="section-products__image--coffe" src="#" alt="Кофе со льдом">
                        </picture>
                        <h3 class="section-products__list__title">ice coffee</h3>
                        <p class="section-products__list__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et</p>
                    </div>
                </a>
            </li>
            <li class="section-products__list__item">
                <a href="">
                    <div class="section-products__thumb">
                        <picture>
                            <source media="(max-width: 767px)"
                                srcset="./images/mobile/home-pic3.png 1x, ./images/mobile/home-pic3@2x.png"
                                type="image/png">
                            <source media="(max-width: 1199px)"
                                srcset="./images/tablet/home-pic3-tablet.png 1x, ./images/tablet/home-pic3-tablet@2x.png"
                                type="image/png">
                            <source media="(min-width: 1200px)"
                                srcset="./images/desktop/home-pic3-desktop.png 1x, ./images/desktop/home-pic3-desktop@2x.png 2x"
                                type="image/png">
                            <img class="section-products__image--milkshake" src="#" alt="Молочный коктейль">
                        </picture>
                        <h3 class="section-products__list__title">milkshakes</h3>
                        <p class="section-products__list__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>