

<section class="customer__reviews container">

  <div class="swiper slider">
<h2 class="visually-hidden">Customer reviews</h2>


  <div class="swiper-wrapper">

    <!-- Slides -->
    <div class="swiper-slide customer__slide">
  

      <picture>
        <source
          srcset="
            ../src/images/mobile/testimonials1.webp    1x,
            ../src/images/mobile/testimonials1@2x.webp 2x
          "
          type="image/webp"
        />

        <source
          srcset="
            ../src/images/mobile/testimonials1.jpeg    1x,
            ../src/images/mobile/testimonials1@2x.jpeg 2x
          "
          type="image/jpeg"
        />
        <img class="customer__pic" src="#" alt="Emily" />
      </picture>


      <div class="customer__text-wrapper"> <p class="customer__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p></div>
      <p class="customer__place">Emily, Los Angeles</p></div>

      <div class="swiper-slide customer__slide">
        

        <picture>
          <source
            srcset="
              ../src/images/mobile/testimonials2.webp    1x,
              ../src/images/mobile/testimonials2@2x.webp 2x
            "
            type="image/webp"
          />

          <source
            srcset="
              ../src/images/mobile/testimonials2.jpeg    1x,
              ../src/images/mobile/testimonials2@2x.jpeg 2x
            "
            type="image/jpeg"
          />
          <img class="customer__pic" src="#" alt="Kin" />
        </picture>


        <div class="customer__text-wrapper"> <p class="customer__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p></div>
        <p class="customer__place">Kin, Austin</p></div>

        <div class="swiper-slide customer__slide">
        
          <picture>
            <source
              srcset="
                ../src/images/mobile/testimonials3.webp    1x,
                ../src/images/mobile/testimonials3@2x.webp 2x
              "
              type="image/webp"
            />

            <source
              srcset="
                ../src/images/mobile/testimonials3.jpeg    1x,
                ../src/images/mobile/testimonials3@2x.jpeg 2x
              "
              type="image/jpeg"
            />
            <img class="customer__pic" src="#" alt="Jeniffer" />
          </picture>

          
          <div class="customer__text-wrapper"> <p class="customer__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p></div>
          <p class="customer__place">Jeniffer, Melburne</p></div>     
  </div>
  <!-- Pagination -->
  <div class="swiper-pagination"></div>

</div>
</section>



 















