.gallery {
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 50%, rgba(255, 245, 246, 1) 50%);
  padding-left: 0;


}

.gallery-fix {
  padding-left: 0;
  
  @media only screen and (max-width: 479px) and (min-width: 320px) {
    height: 124px;
    width: 320px;
  }

  @media only screen and (max-width: 767px) and (min-width: 480px) {
    height: 162px;
  }

  @media only screen and (max-width: 1279px) and (min-width: 768px) {
    height: 264px;
  }

  @media screen and (min-width: 1280px) {
    height: 430px;
  }
}

.grid-item {
  width: 20%;
  img {
    width: 100%;
    border-radius: 10%;
  }
  &:hover {
    transform: scale(0.95);
    transition-duration: $time;
    transition-timing-function: $cubic;
  }
}


.grid-item--width1 {
  @media only screen and (max-width: 479px) and (min-width: 320px) {
    width: 40px;
    img {
      width: 100%;
      border-radius: 10%;
      position: absolute;
      margin-left: 20px;
      margin-top: 40px;
    }
  }

  @media only screen and (max-width: 767px) and (min-width: 480px) {
    width: 52px;
    img {
      width: 100%;
      border-radius: 10%;
      position: absolute;
      margin-left: 50px;
      margin-top: 53px;
    }
  }

  @media only screen and (max-width: 1279px) and (min-width: 768px) {
    width: 85px;
    img {
      width: 100%;
      border-radius: 10%;
      position: absolute;
      margin-left: 73px;
      margin-top: 87px;
    }
  }

  @media screen and (min-width: 1280px) {
    width: 140px;
    img {
      width: 100%;
      border-radius: 10%;
      position: absolute;
      margin-left: 135px;
      margin-top: 110px;
    }
  }
}

.grid-item--width2 {
  @media only screen and (max-width: 479px) and (min-width: 320px) {
    width: 40px;
    img {
      width: 100%;
      border-radius: 10%;
      position: absolute;
      margin-left: 62px;
      margin-top: 25px;
    }
  }

  @media only screen and (max-width: 767px) and (min-width: 480px) {
    width: 52px;
    img {
      width: 100%;
      border-radius: 10%;
      position: absolute;
      margin-left: 105px;
      margin-top: 40px;
    }
  }

  @media only screen and (max-width: 1279px) and (min-width: 768px) {
    width: 85px;
    img {
      width: 100%;
      border-radius: 10%;
      position: absolute;
      margin-left: 162px;
      margin-top: 53px;
    }
  }

  @media screen and (min-width: 1280px) {
    width: 140px;
    img {
      width: 100%;
      border-radius: 10%;
      position: absolute;
      margin-left: 280px;
      margin-top: 85px;
    }
  }
}

.grid-item--width3 {
  @media only screen and (max-width: 479px) and (min-width: 320px) {
    width: 40px;
    img {
      width: 100%;
      border-radius: 10%;
      position: absolute;
      margin-left: 62px;
      margin-top: 68px;
    }
  }

  @media only screen and (max-width: 767px) and (min-width: 480px) {
    width: 52px;
    img {
      width: 100%;
      border-radius: 10%;
      position: absolute;
      margin-left: 105px;
      margin-top: 87px;
    }
  }

  @media only screen and (max-width: 1279px) and (min-width: 768px) {
    width: 85px;
    img {
      width: 100%;
      border-radius: 10%;
      position: absolute;
      margin-left: 162px;
      margin-top: 143px;
    }
  }

  @media screen and (min-width: 1280px) {
    width: 140px;
    img {
      width: 100%;
      border-radius: 10%;
      position: absolute;
      margin-left: 280px;
      margin-top: 230px;
    }
  }
}

.grid-item--width4 {
  @media only screen and (max-width: 479px) and (min-width: 320px) {
    width: 81px;
    img {
      width: 100%;
      border-radius: 10%;
      position: absolute;
      margin-left: 103px;
    }
  }

  @media only screen and (max-width: 767px) and (min-width: 480px) {
    width: 107px;
    img {
      width: 100%;
      border-radius: 10%;
      position: absolute;
      margin-left: 159px;
    }
  }

  @media only screen and (max-width: 1279px) and (min-width: 768px) {
    width: 175px;
    img {
      width: 100%;
      border-radius: 10%;
      position: absolute;
      margin-left: 252px;
    }
  }

  @media screen and (min-width: 1280px) {
    width: 280px;
    img {
      width: 100%;
      border-radius: 10%;
      position: absolute;
      margin-left: 427px;
    }
  }
}

.grid-item--width5 {
  @media only screen and (max-width: 479px) and (min-width: 320px) {
    width: 40px;
    img {
      width: 100%;
      border-radius: 10%;
      position: absolute;
      margin-left: 103px;
      margin-top: 83px;
    }
  }

  @media only screen and (max-width: 767px) and (min-width: 480px) {
    width: 52px;
    img {
      width: 100%;
      border-radius: 10%;
      position: absolute;
      margin-left: 159px;
      margin-top: 109px;
    }
  }

  @media only screen and (max-width: 1279px) and (min-width: 768px) {
    width: 85px;
    img {
      width: 100%;
      border-radius: 10%;
      position: absolute;
      margin-left: 252px;
      margin-top: 179px;
    }
  }

  @media screen and (min-width: 1280px) {
    width: 140px;
    img {
      width: 100%;
      border-radius: 10%;
      position: absolute;
      margin-left: 427px;
      margin-top: 285px;
    }
  }
}

.grid-item--width6 {
  @media only screen and (max-width: 479px) and (min-width: 320px) {
    width: 40px;
    img {
      width: 100%;
      border-radius: 10%;
      position: absolute;
      margin-left: 185px;
      margin-top: 28px;
    }
  }

  @media only screen and (max-width: 767px) and (min-width: 480px) {
    width: 52px;
    img {
      width: 100%;
      border-radius: 10%;
      position: absolute;
      margin-left: 268px;
      margin-top: 37px;
    }
  }

  @media only screen and (max-width: 1279px) and (min-width: 768px) {
    width: 85px;
    img {
      width: 100%;
      border-radius: 10%;
      position: absolute;
      margin-left: 430px;
      margin-top: 60px;
    }
  }

  @media screen and (min-width: 1280px) {
    width: 140px;
    img {
      width: 100%;
      border-radius: 10%;
      position: absolute;
      margin-left: 715px;
      margin-top: 100px;
    }
  }
}

.grid-item--width7 {
  @media only screen and (max-width: 479px) and (min-width: 320px) {
    width: 40px;
    img {
      width: 100%;
      border-radius: 10%;
      position: absolute;
      margin-left: 185px;
      margin-top: 70px;
    }
  }

  @media only screen and (max-width: 767px) and (min-width: 480px) {
    width: 52px;
    img {
      width: 100%;
      border-radius: 10%;
      position: absolute;
      margin-left: 268px;
      margin-top: 92px;
    }
  }

  @media only screen and (max-width: 1279px) and (min-width: 768px) {
    width: 85px;
    img {
      width: 100%;
      border-radius: 10%;
      position: absolute;
      margin-left: 430px;
      margin-top: 150px;
    }
  }

  @media screen and (min-width: 1280px) {
    width: 140px;
    img {
      width: 100%;
      border-radius: 10%;
      position: absolute;
      margin-left: 715px;
      margin-top: 245px;
    }
  }
}

.grid-item--width8 {
  @media only screen and (max-width: 479px) and (min-width: 320px) {
    width: 40px;
    img {
      width: 100%;
      border-radius: 10%;
      position: absolute;
      margin-left: 227px;
      margin-top: 15px;
    }
  }

  @media only screen and (max-width: 767px) and (min-width: 480px) {
    width: 52px;
    img {
      width: 100%;
      border-radius: 10%;
      position: absolute;
      margin-left: 323px;
      margin-top: 20px;
    }
  }

  @media only screen and (max-width: 1279px) and (min-width: 768px) {
    width: 85px;
    img {
      width: 100%;
      border-radius: 10%;
      position: absolute;
      margin-left: 520px;
      margin-top: 33px;
    }
  }

  @media screen and (min-width: 1280px) {
    width: 140px;
    img {
      width: 100%;
      border-radius: 10%;
      position: absolute;
      margin-left: 860px;
      margin-top: 50px;
    }
  }
}

.grid-item--width9 {
  @media only screen and (max-width: 479px) and (min-width: 320px) {
    width: 40px;
    img {
      width: 100%;
      border-radius: 10%;
      position: absolute;
      margin-left: 227px;
      margin-top: 56px;
    }
  }

  @media only screen and (max-width: 767px) and (min-width: 480px) {
    width: 52px;
    img {
      width: 100%;
      border-radius: 10%;
      position: absolute;
      margin-left: 323px;
      margin-top: 75px;
    }
  }

  @media only screen and (max-width: 1279px) and (min-width: 768px) {
    width: 85px;
    img {
      width: 100%;
      border-radius: 10%;
      position: absolute;
      margin-left: 520px;
      margin-top: 122px;
    }
  }

  @media screen and (min-width: 1280px) {
    width: 140px;
    img {
      width: 100%;
      border-radius: 10%;
      position: absolute;
      margin-left: 860px;
      margin-top: 200px;
    }
  }
}

.grid-item--width10 {
  @media only screen and (max-width: 479px) and (min-width: 320px) {
    width: 40px;
    img {
      width: 100%;
      border-radius: 10%;
      position: absolute;
      margin-left: 268px;
      margin-top: 44px;
    }
  }

  @media only screen and (max-width: 767px) and (min-width: 480px) {
    width: 52px;
    img {
      width: 100%;
      border-radius: 10%;
      position: absolute;
      margin-left: 377px;
      margin-top: 58px;
    }
  }

  @media only screen and (max-width: 1279px) and (min-width: 768px) {
    width: 85px;
    img {
      width: 100%;
      border-radius: 10%;
      position: absolute;
      margin-left: 609px;
      margin-top: 95px;
    }
  }

  @media screen and (min-width: 1280px) {
    width: 140px;
    img {
      width: 100%;
      border-radius: 10%;
      position: absolute;
      margin-left: 1005px;
      margin-top: 150px;
    }
  }
}












// -----------

.about {
  <<<<<<< correct
    margin: 0 auto;
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff5f6;
    @media screen and (min-width: 768px) {
      text-align: start;
    }
    @media screen and (min-width: 1199px) {
      text-align: start;
    }
  }
  .about__about-list {
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    max-width: 100vw;
    @media screen and (max-width: 480px) {
      background-image: url(../images/mobile/sectionbg1mob.png);
    }
    @media screen and (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/mobile/sectionbg1mob@2x.png);
    }
    @media screen and (min-width: 768px) {
      display: flex;
      // flex-wrap: wrap;
      // align-items: center;
      justify-content: center;
    }
    @media screen and (min-width: 1199px) {
      background-position: center;
      background-image: url(../images/desktop/sectionbg1-desktop.png);
    }
    @media screen and (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/desktop/sectionbg1-desktop@2x.png);
    }
  }
  .about__subtitle {
    margin: 0 auto;
    padding-top: 125px;
    padding-bottom: 15px;
    font-family: Titan One;
    font-style: 400;
    font-size: 18px;
    line-height: 1.67;
    font-weight: 400;
    color: $label-color;
    text-align: center;
    text-transform: uppercase;
    @media screen and (min-width: 768px) {
      font-size: 26px;
  =======
      margin: 0 auto;
      display: block;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      text-align: center;
      background-color: #FFF5F6;
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: contain;
      @media screen and (max-width: 480px) {
          background-image: url(../images/mobile/sectionbg1mob.png);
      }@media screen and (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
          background-image:url(../images/mobile/sectionbg1mob@2x.png);}
      @media screen and (min-width: 768px) {
      
      justify-content: center;
  }
  @media screen and (min-width: 1199px) {
      // background-position: center;
          background-image: url(../images/desktop/sectionbg1-desktop.png);
      }
      @media screen and (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image:url(../images/desktop/sectionbg1-desktop@2x.png);}
      
      @media screen and (min-width: 1199px) {
          text-align: start;
      }
      }
  .about__about-list {
  @media screen and (min-width: 768px) {
          text-align: start;
          display: flex;
          padding-left: 39px;
      } 
      @media screen and (min-width: 1199px) {
          padding-left: 112px;
      }
      max-width: 100vw;
      
  }
  .about__subtitle {
      margin: 0 auto;
      padding-top: 125px;
      padding-bottom: 15px;
      font-family: Titan One;
      font-style: 400;
      font-size: 18px;
      line-height: 1.67;
      font-weight: 400;
      color: $label-color;
      text-align: center;
      text-transform: uppercase;
      @media screen and (min-width:768px) {
          font-size: 26px;
          line-height: 1.15;
      }
      @media screen and (min-width: 1200px) {
          font-size: 30px;
          line-height: 1.13;
          letter-spacing: 0.04em;
      }
  }
  .about__title {
      margin: 0 auto;
      width: 200px;
      padding-bottom: 26px;
      font-family: Titan One;
      font-style: 400;
      font-size: 34px;
  >>>>>>> main
      line-height: 1.15;
    }
    @media screen and (min-width: 1200px) {
      font-size: 30px;
      line-height: 1.13px;
      letter-spacing: 0.04em;
    }
  }
  .about__title {
    margin: 0 auto;
    width: 200px;
    padding-bottom: 26px;
    font-family: Titan One;
    font-style: 400;
    font-size: 34px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $accent-color;
    @media screen and (min-width: 768px) {
      width: 100%;
      font-size: 48px;
    }
    @media screen and (min-width: 1200px) {
      width: 100%;
      font-size: 58px;
      line-height: 1.14;
      letter-spacing: 0.06em;
      text-wrap: none;
    }
  }
  .about__home-pic4 {
    padding-bottom: 46px;
    @media screen and (min-width: 768px) {
      // margin-left: 39px;
      margin-right: 17px;
    }
    @media screen and (min-width: 1200px) {
      // margin-left: 112px;
      margin-right: 74px;
      padding-bottom: 0;
    }
  }
  .about__para1 {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.58;
    color: $primary-text-color;
    display: block;
    // width: 100%;
    // height: 79px;
    text-align: start;
    word-wrap: break-word;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 47px;
    @media screen and (min-width: 768px) {
      width: 340px;
      height: 100%;
      padding-left: 0;
      padding-right: 0;
      ine-height: 1.79;
    }
    @media screen and (min-width: 1200px) {
      font-size: 16px;
      line-height: 1.75;
      letter-spacing: 0.04em;
      padding-top: 50px;
      padding-left: 0;
      padding-right: 0;
      width: 463px;
      height: 100%;
    }
  }
  .about__para2 {
  <<<<<<< correct
    font-weight: 500;
    font-size: 12px;
    line-height: 1.58;
    color: $secondary-text-color;
    display: block;
    // width: 220px;
    // height: 155px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 47px;
    text-align: start;
    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 1.79;
      letter-spacing: 0.04em;
      width: 340px;
      height: 100%;
      padding-left: 0;
      padding-right: 0;
    }
    @media screen and (min-width: 1200px) {
  =======
      font-weight: 500;
      font-size: 12px;
      line-height: 1.58;
      color: $secondary-text-color;
      display: block;
      // width: 220px;
      // height: 155px;
      padding-left: 50px;
      padding-right: 50px;
      padding-bottom: 47px;
      text-align: start;
      @media screen and (min-width:768px) {
          font-size: 14px;
          line-height: 1.79;
          letter-spacing: 0.04em;
          width: 340px;
          height: 100%;
          padding-left: 0;
          padding-right: 0;
      }
    
  @media screen and (min-width: 1200px) {
  >>>>>>> main
      font-size: 14px;
      line-height: 1.93;
      letter-spacing: 0.04em;
    padding-left: 0;
      padding-right: 0;
      width: 463px;
      height: 100%;
    }
  }
  .about__button {
    width: 176px;
    height: 44px;
    background: $white-color;
    border-radius: 22px;
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    align-items: center;
    text-align: center;
    color: $accent-color;
    @media screen and (min-width: 768px) {
      font-size: 16px;
      line-height: 1.31;
      margine-left: 396px;
    }
  }
  
  // Модалка
  .about__backdrop {
    position: fixed;
    z-index: 10;
    top: -300px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
  
    // opacity: 1;
    @media screen and (min-width: 768px) {
      top: -500px;
      left: 0x;
      width: 50%;
    }
    @media screen and (min-width: 1200px) {
      top: -500px;
      left: 0;
      width: 50%;
    }
  }
  
  .about__modal {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 95%;
    // width: 400px;
    background-color: $hero-background;
    border-radius: 15px;
    border: 1px solid $accent-color;
    // border-color: ;
  }
  .about__modal-button {
    position: absolute;
    display: flex;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border: 3px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
  }
  .about-hidden {
    opacity: 0;
    visibility: hidden;
  }
  .about__modal-para {
  <<<<<<< correct
    font-weight: 500;
    font-size: 12px;
    line-height: 1.58;
    color: $secondary-text-color;
    padding: 20px;
  }
  
  .about__text .about__title:hover,
  .about__text .about__title:focus {
    border-radius: 4px;
    background-color: $social-icons-background;
  }
  =======
      font-weight: 500;
      font-size: 12px;
      line-height: 1.58;
      color: $secondary-text-color;
      padding: 20px;
  }
    
  >>>>>>> main
  