.section-header {
  background-color: $hero-background;
  overflow: hidden;
}

.hero__container {
  position: relative;
  padding-bottom: 0;
  height: 502px;

  @media screen and (min-width: 480px) {
  }

  @media screen and (min-width: 768px) {
    height: 399px;
  }

  @media screen and (min-width: 1280px) {
    height: 665px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 9px;

  @media screen and (min-width: 768px) {
    padding-top: 37px;
  }
}

.header__logo {
  position: absolute;
  z-index: 20;
  top: 6px;
  left: 20px;

  @media screen and (min-width: 768px) {
    top: 37px;
    left: 34px;
  }

  @media screen and (min-width: 1280px) {
    left: 46px;
  }
}

.logo {
  cursor: pointer;
}

.header-nav {
  margin-left: auto;
}

.header-nav__list {
  position: relative;
  z-index: 100;
  display: none;

  @media screen and (min-width: 1280px) {
    display: flex;
  }
}

.header-nav__item:not(:last-child) {
  margin-right: 35px;
}

.header-nav__link {
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: $white-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
    transition-duration: $time;
    transition-timing-function: $cubic;
  }
}

.header-nav__link--current {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: $accent-color;
}

.menu-burger-box {
  position: relative;
  z-index: 100;
  display: flex;

  // @media screen and (min-width: 480px) {
  //     margin-top: 9px;
  // }

  @media screen and (min-width: 1280px) {
    margin-left: 110px;
  }
}

.menu_burger {
  width: 44px;
  height: 44px;
  fill: $accent-color;

  @media screen and (min-width: 768px) {
    margin-right: 15px;
  }

  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.header__btn {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    color: $accent-color;
    cursor: pointer;
    border: none;
    width: 159px;
    height: 44px;
    background-color: $white-color;
    border-radius: 22px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover,
  &:focus {
    background-color: $button-hover-background;
  }
}

.header__icon {
  width: 6px;
  height: 10px;
  margin-left: 12px;
  stroke: $accent-color;
}

.hero-title {
  display: inline-block;
  position: relative;
  z-index: 50;
  margin-top: 137px;

  @media screen and (min-width: 768px) {
    margin-top: 15px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 84px;
  }
}

.hero-title__primary {
  font-family: Titan One;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  text-transform: uppercase;
  color: $white-color;

  @media screen and (min-width: 768px) {
    font-size: 22px;
    line-height: 1.14;
  }

  @media screen and (min-width: 1280px) {
    font-size: 38px;
    line-height: 1.16;
  }
}
.hero-title__second {
  font-weight: 400;
  font-size: 48px;
  line-height: 96.5%;
  color: $accent-color;

  @media screen and (min-width: 768px) {
    font-size: 34px;
    line-height: 90.5%;
  }

  @media screen and (min-width: 1280px) {
    font-size: 58px;
    line-height: 90.5%;
  }
}

.hero-title__list {
  display: inline-flex;
  margin-top: 25px;
}

.hero-title__item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 160px;
  font-size: 8px;
  line-height: 1.25;
  min-height: 24px;

  @media screen and (min-width: 768px) {
    margin-bottom: 173px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 14px;
    line-height: 1.29;
    min-height: 40px;
    margin-bottom: 292px;
  }

  &:not(:last-child) {
    margin-right: 8px;

    @media screen and (min-width: 1280px) {
      margin-right: 15px;
    }
  }
}

.hero-title__item--dark {
  width: 62.4px;
  background-color: $accent-color;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 1280px) {
    width: 104px;
  }

  &:hover,
  &:focus {
    background-color: #c7133e;
  }
}

.hero-title__item--light {
  background-color: $white-color;
  width: 82.8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 1280px) {
    width: 138px;
  }

  &:hover,
  &:focus {
    background-color: $button-hover-background;
  }
}

.hero-title__link--dark {
  color: $white-color;
}

.hero-title__link--light {
  color: $accent-color;
}

.hero__img--ice {
  position: absolute;
  z-index: 2;
  right: -62px;
  bottom: 0;
  width: 346px;
  height: 421px;

  @media screen and (min-width: 768px) {
    width: 324px;
    height: 370px;
    right: 137px;
  }

  @media screen and (min-width: 1280px) {
    width: 538px;
    height: 613px;
    right: 267px;
  }
}

.hero__img--circle {
  position: absolute;
  z-index: -100;
  width: 346px;
  height: 346px;
  bottom: 75px;
  border-radius: 50%;
  background-color: $label-color;

  @media screen and (min-width: 768px) {
    width: 324px;
    height: 324px;
    bottom: 46px;
  }

  @media screen and (min-width: 1280px) {
    width: 538px;
    height: 538px;
    bottom: 75px;
  }
}

.hero__img-icecream {
  position: absolute;
  z-index: 150;
  padding: 0;
  bottom: 0;
  right: 94px;

  @media screen and (max-width: 767px) {
    width: 171px;
  }

  @media screen and (min-width: 768px) {
    width: 143px;
    right: 110px;
  }

  @media screen and (min-width: 1280px) {
    width: 236px;
    right: 183px;
  }
}

.hero-statistic {
  position: absolute;
  z-index: 70;
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    right: 34px;
    bottom: 205px;
  }

  @media screen and (min-width: 1280px) {
    right: 97px;
    bottom: 341px;
  }
}

.hero-statistic__list {
  justify-content: flex-end;
}

.hero-statistic__item {
  position: relative;
  z-index: 100;
  right: 0;
  font-family: Titan One;
  font-weight: 400;

  color: $accent-color;
  text-align: right;

  &:not(:last-child) {
    @media screen and (min-width: 768px) {
      margin-bottom: 13px;
      text-align: center;
    }

    @media screen and (min-width: 1280px) {
      margin-bottom: 15px;
    }
  }

  @media screen and (min-width: 768px) {
    font-size: 28px;
    line-height: 1.14;
  }

  @media screen and (min-width: 1280px) {
    font-size: 46px;
    line-height: 1.15;
  }
}

.hero-statistic__item--cafe {
  @media screen and (min-width: 768px) {
    width: 51px;
    height: 43px;
  }

  @media screen and (min-width: 1280px) {
    width: 92px;
    height: 76px;
  }
}

.hero-statistic__item--truck {
  @media screen and (min-width: 768px) {
    text-align: center;
    width: 51px;
    height: 43px;
  }

  @media screen and (min-width: 1280px) {
    width: 92px;
    height: 76px;
  }
}

.hero-statistic__circle {
  position: absolute;
  z-index: -1;
  content: '';

  background-color: $white-color;
  border-radius: 50%;
  right: 0;
  top: 0;

  @media screen and (min-width: 768px) {
    width: 16px;
    height: 16px;
  }

  @media screen and (min-width: 1280px) {
    width: 30px;
    height: 30px;
  }
}

.hero-statistic__info {
  font-family: DM Sans;
  font-weight: 400;
  text-align: right;
  color: $white-color;
  margin-top: 2px;

  @media screen and (min-width: 768px) {
    text-align: center;
    font-size: 8px;
    line-height: 1.25;
  }

  @media screen and (min-width: 1280px) {
    font-size: 14px;
    line-height: 1.29;
  }
}

.hero-statistic__info--truck {
  text-align: left;
}

.hero__img--box {
  position: absolute;
  z-index: 100;
  left: 77px;
  bottom: 45px;
  display: flex;
  align-items: flex-end;
  margin-top: 56px;
  margin-left: -38px;
}

.hero__img-milk {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
  }

  @media screen and (min-width: 1280px) {
    width: 188px;
    margin-right: 30px;
  }
}
.hero__img-infobox {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.hero__img-infobox-about {
  font-weight: 400;
  color: $white-color;

  @media screen and (min-width: 768px) {
    width: 114px;
    font-size: 8px;
    line-height: 1.5;
  }

  @media screen and (min-width: 1280px) {
    width: 200px;
    font-size: 14px;
    line-height: 1.43;
  }
}

.hero__img-button {
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: $white-color;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $button-hover-background;
  }

  @media screen and (min-width: 768px) {
    width: 18px;
    height: 18px;
    margin-top: 7px;
    margin-bottom: 5px;
  }

  @media screen and (min-width: 1280px) {
    width: 26px;
    height: 26px;
    margin-top: 20px;
    margin-bottom: 11px;
  }
}

.hero__img-icon {
  width: 100%;
  height: 100%;
  fill: $accent-color;
}

.hero__img-girl {
  display: none;
  position: absolute;
  z-index: 70;
  bottom: 0;

  @media screen and (min-width: 768px) {
    display: block;
    right: 34px;
  }

  @media screen and (min-width: 1280px) {
    padding: 0;
    width: 293px;
    right: 109px;
    width: 293px;
  }
}
