.header__mobile-menu {
  display: block;
  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.burger-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #d41443;
}


.hide__buttos[aria-expanded="true"]{
  visibility: hidden;
}


.header__mobile-window {
  position: fixed;
  text-align: -webkit-center;
  z-index: 100;
  top: 0;
 
  transform: translateX(200%);
  width: 254px;
  height: 100vh;
  padding-top: 60px;
  background-color: #e17992;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;


  @media screen and (max-width: 479px) {
    margin-left: -215px;
  }

  @media screen and (max-width: 767px) {
    right: 0;
    margin-left: -215px;
  }


  @media screen and (min-width: 768px)and (max-width: 1279px) {
    right: 0;
    width: 400px;
    margin-left: -215px;
    overflow: hidden;
  }

  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.header__mobile-window.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  transform: translateX(0);
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (max-width: 767px) {
    transform: translatex(5%);
    transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  @media screen and (max-width: 479px) {
    transform: translatex(0);
    transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.header__menu-close {
  position: absolute;
  top: 23px;
  right: 34px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  fill: white;
}

.header__list {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  text-align: start;
  &-item {
    display: inline-block;
    display: flex;
    align-items: center;
    height: 42px;
    padding-left: 24px;
    border: 1px solid #e18298;
    @media screen and (max-width: 767px) {
      padding-left: 21px;
    }
  }
}

.header__link {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  &:hover {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
.mobile-menu__button {
  display: inline-block;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: #d41443;
  width: 186px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 22px;
}
// !!!!!!!!!!!!!!!!!!!!!!! buy now MODAL
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;

  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms $cubic;
  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}
.modal {
  position: absolute;

  width: 768px;
  // height: 75vh;
  top: 50%;
  left: 50%;
  text-align: center;
  z-index: 100;
  padding: 40px;
  color: #d41443;
  background: $hero-background;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 25px;

  transform: translate(-50%, -50%) scaleX(1);

  // @media screen and (max-width: 1279px) {
  //   height: 100vh;
  // }
  @media screen and (max-width: 767px) {
    width: 480px;
  }
  @media screen and (max-width: 479px) {
    width: 280px;
  }
  &__close-button {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 20px;
    margin-right: 20px;
    align-items: center;
    width: 20px;
    height: 20px;

    justify-content: center;

    cursor: pointer;

    border: none;
    background: transparent;
  }
}
.form-name-container {
  margin-top: 50px;
  display: flex;
  align-content: space-between;
  @media screen and (max-width: 767px) {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 100px;
  }
  @media screen and (max-width: 479px) {
    display: block;
    margin-top: 20px;
    align-items: unset;
    margin-right: 0;
  }
}

.form__field {
  &__label-name,
  &__label-middle-name,
  &__label-last-name {
    font-size: 16px;
    font-family: “DM Sans”, sans-serif;
    letter-spacing: 0.04em;
    line-height: 1.145;
    color: #ffffff;
  }
  &__input-name,
  &__input-middle-name,
  &__input-last-name {
    background: $white-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
  &__label-comment {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  &__label-policy {
    display: inline-block;
    margin-top: 10px;
  }
  &__policy-link {
    color: #000000;
  }
  &__comment {
    width: 500px;
    height: 140px;
    background: $white-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    margin-left: 60px;
    @media screen and (max-width: 767px) {
      margin: 0;

      width: 300px;
      height: 200px;
    }
    @media screen and (max-width: 479px) {
      margin: 0;
      width: unset;
      height: 70px;
    }
  }
}
.form__field2 {
  margin-top: 40px;
  @media screen and (max-width: 767px) {
    margin-top: 15px;
  }
  @media screen and (max-width: 479px) {
    margin-top: 15px;
  }
  &__input-tel,
  &__input-mail {
    width: 500px;
    margin-left: 15px;
    background: $white-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    @media screen and (max-width: 767px) {
      width: auto;
      margin: 0;
    }
    @media screen and (max-width: 479px) {
      width: auto;
      margin: 0;
    }
  }

  &__label-tel,
  &__label-mail {
    display: inline-block;
    width: 40px;
    text-align: start;
    @media screen and (max-width: 767px) {
      width: auto;
      text-align: unset;
    }
    @media screen and (max-width: 479px) {
      width: auto;
      text-align: unset;
    }
  }
}
.form-mail-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding-left: 40px;
  padding-right: 40px;
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: unset;
    padding: 0;
  }
  @media screen and (max-width: 479px) {
    display: block;
    flex-direction: unset;
    padding: 0;
  }
}
.modal-submit-button {
  display: flex;
  display: inline-block;
  margin-top: 40px;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: $accent-color;
  cursor: pointer;
  border: none;
  width: 159px;
  height: 44px;
  background-color: $white-color;
  border-radius: 22px;
  @media screen and (max-width: 767px) {
  }
  @media screen and (max-width: 479px) {
    margin-top: 20px;
  }
}

.form__field__policy-link {
  color: #ffffff;
}