.header__mobile-menu {
    display: block;
    @media screen and (min-width: 1279px) {
        display: none;
      }
}

.burger-btn {
background-color: transparent;
border: none;
cursor: pointer;
color: #D41443;
}

.header__mobile-window {
    position: fixed;
    z-index: 230;
    top: 0;
    right: 0;
    margin-right: 5%;
    transform: translateX(200%);
    width: 250px;
    height: 100vh;
    padding-top: 60px;
    background-color: #E17992;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    @media screen and (min-width: 1280px) {
       display: none;
      }
}

  
 .header__mobile-window.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
    transform: translateX(0);
  }
  

.header__menu-close{
    position: absolute;
    top: 23px;
    right: 34px;
    background-color: transparent;
border: none;
cursor: pointer;
color: white;
}


.header__list{
    display: flex;
    flex-direction: column;
    margin-top: 32px

}




.header__link {
font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 18px;
display: flex;
align-items: center;
color: #FFFFFF;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
padding-left: 24px;


}
